# Laravel
identity-server/.env
identity-server/vendor/
identity-server/node_modules/
identity-server/storage/logs/*
identity-server/storage/framework/*

# FastAPI
security-service/.env
security-service/__pycache__/
security-service/.venv/
security-service/venv/

# Docker
*.log

# Editor
.vscode/
.idea/

# vendor
/vendor/

# ENV
.env

# Gunicorn runtime
*.ctl
gunicorn.*

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# =============================================
# VitePress Docs
# =============================================
docs/node_modules/
docs/.vitepress/cache/
docs/.vitepress/dist/


